{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Criar Produto</h2>

			</div>
			<hr>
		</div>


		<div class="col-12">
			<form action="/admin/product/store" method="post">

				<div class="form-group">
					<label>Nome do Produto</label>
					<input type="text" class="form-control" name="name">
				</div>

				<div class="form-group">
					<label>Descrição</label>
					<input type="text" class="form-control" name="description">
				</div>

				<div class="form-group">
					<label>Contéudo/Informação</label>
					<textarea class="form-control" name="body"></textarea>
				</div>

				<div class="form-group">
					<label>Slug</label>
					<input type="text" class="form-control" name="slug">
				</div>

				<div class="form-group">
					<label>Preço</label>
					<input type="text" class="form-control" name="price">
				</div>

				<div class="form-group">
					<button class="btn btn-lg btn-success">
						Criar Produto
					</button>
				</div>

			</form>
		</div>
	</div>
{% endblock %}
